video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.banner-container {
    background: url('../images/img-home.jpeg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    
}

.banner-container > h1{
    text-align: center;
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.banner-container > p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.banner-btns-container {
    margin-top: 32px;
    /* align contents verticly */;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-btns .btn {
    margin-bottom: -4px;

}

.prompt-login-msg {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
}


@media screen and (max-width: 960px) {
    .banner-container {
        text-align: center;
    }
    .banner-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .banner-container {
        text-align: center;
    }
    .banner-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .banner-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
    
}