




.btn--medium {
    padding: 8px 20px;
    font-size: 16px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}


.btn--auth-large {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.btn--auth-medium {
    padding: 10px;
    font-size: 16px;
    min-width: 150px;
    width: 220px;
}


/* .btn--auth-large:hover,
.btn--auth-medium:hover {
    background-color: #0056b3;
} */

.btn--medium:hover, 
.btn--large:hover {
    background-color: #ccc;
    color: #ccc;
    transition: 250ms;
}
/* 
.disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}
.disabled:hover {
    background-color: #ccc;
    color: #fff;
} */
